In [47]:
import pandas as pd
import datetime

In [49]:
data = pd.read_parquet('../Data/Taxis.parquet')
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Tiempo_Viaje_s
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,0.0,198.0
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,0.0,1090.0
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,0.0,355.0
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,0.0,1949.0
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,0.0,1068.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8760682,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.0,0.3,15.95,0.0,765.0
8760683,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,0.0,186.0
8760684,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,0.0,549.0
8760685,2,2018-01-31 23:24:40,2018-01-31 23:25:28,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,48.0
8760686,2,2018-01-31 23:28:16,2018-01-31 23:28:38,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,22.0

In [50]:
data.drop(data[data["tpep_dropoff_datetime"]<datetime.datetime(year=2018, month=1, day=1,hour=0,minute=0,second=0)].index, axis=0, inplace=True)
data.drop(data[data["tpep_dropoff_datetime"]<datetime.datetime(year=2018, month=1, day=1,hour=0,minute=0,second=0)].index, axis=0, inplace=True)
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Tiempo_Viaje_s
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,0.0,198.0
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,0.0,1090.0
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,0.0,355.0
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,0.0,1949.0
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,0.0,1068.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8760682,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.0,0.3,15.95,0.0,765.0
8760683,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,0.0,186.0
8760684,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,0.0,549.0
8760685,2,2018-01-31 23:24:40,2018-01-31 23:25:28,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,48.0
8760686,2,2018-01-31 23:28:16,2018-01-31 23:28:38,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,22.0

In [55]:
data[data["tpep_dropoff_datetime"]>=datetime.datetime(year=2018, month=2,day=1)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Tiempo_Viaje_s
1166000,2,2018-07-27 02:22:13,2018-07-27 02:28:28,1,1.21,1,N,143,50,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80,0.0,375.0
1166001,2,2018-07-27 02:42:00,2018-07-27 02:46:56,1,1.16,1,N,246,68,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30,0.0,296.0
1168653,2,2018-07-27 03:16:59,2018-07-27 03:23:37,1,1.75,1,N,234,125,2,7.5,0.0,0.5,0.00,0.00,0.3,8.30,0.0,398.0
1168654,2,2018-07-27 03:34:24,2018-07-27 03:46:39,1,3.36,1,N,231,100,2,12.5,0.0,0.5,0.00,0.00,0.3,13.30,0.0,735.0
1172383,2,2018-07-27 03:55:27,2018-07-27 03:58:08,1,0.72,1,N,48,246,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80,0.0,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8760658,2,2018-01-31 23:53:03,2018-02-01 00:09:22,1,5.09,1,N,68,209,1,18.0,0.5,0.5,3.86,0.00,0.3,23.16,0.0,979.0
8760660,2,2018-01-31 23:55:15,2018-02-01 00:06:49,3,2.48,1,N,211,186,1,10.5,0.5,0.5,2.36,0.00,0.3,14.16,0.0,694.0
8760665,2,2018-01-31 23:35:33,2018-02-01 00:04:11,1,4.92,1,N,148,163,2,21.5,0.5,0.5,0.00,0.00,0.3,22.80,0.0,1718.0
8760673,1,2018-01-31 23:54:57,2018-02-01 00:29:56,1,13.90,1,N,186,16,1,42.0,0.5,0.5,15.00,5.76,0.3,64.06,0.0,2099.0
8760681,2,2018-01-31 23:57:33,2018-02-01 00:07:44,1,2.92,1,N,230,238,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30,0.0,611.0

In [58]:
max(data["tpep_dropoff_datetime"].dt.year)

2018

In [61]:
data["tpep_dropoff_datetime"].dt.month.mean()

1.0002518118524848

In [62]:
max(data["tpep_dropoff_datetime"].dt.day)

31